.ant-popover-inner
{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
}

.gm-style-cc
{
    display: none;
}

.gm-style > div:nth-child(2) > a
{
    display: none !important;
}

.rbc-current-time-indicator {
    background-color: transparent !important;
    border: 1px solid #74ad31;
    border-style: dashed;
}