.dropdownStyle
{
    padding: 0;
}

[class*=ant-select-tree]
{
    max-height: 250px;

    & li:first-child > span:first-child
    {
        // display: none;
    }

    & > li:first-child > ul
    {
        padding: 0;
    }
}