{
  "presets": ["es2015", "es2017", "stage-0", "react"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-async-to-generator",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib"
      },
      "css-modules-transform",
      {
        "preprocessCss": "./lib/processSass.js",
        "extensions": [".css", ".scss"]
      }
    ]
  ]
}
