.Icon-Panel {
    display: flex;
    align-items: center;
            font-size: 16px;
    &>i {
        color: #00bcd4;
    }
    &>span {
        margin-left: 5px;
    }
}

.disable-text
{
    color: rgba(0, 0, 0, 0.62) !important;
    text-align: right;
}

.divider
{
    color: rgba(0,0,0,.65);
    font-size: 15px;
}
