.arrow_box {
	position: relative;
	background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &:after,&:before
    {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after
    {
      	border-color: rgba(255, 255, 255, 0);
        border-top-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;  
    }
    &:before
    {
        border-color: rgba(222, 0, 40, 0);
        border-top-color: rgb(152, 152, 152);
        border-width: 11px;
        margin-left: -11px;
    }
}

.headers
{
    background: #03a9f4;
    padding: 0 10px;
    height: 35px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 100%;
    & > i:nth-child(1)
    {
        color: #505050;
        margin-right: 10px;
    }

    & > span
    {
        flex: 1;
    }

    & > i:last-child
    {
        cursor: pointer;
        right: 0;
        transition: .5s all;
        &:hover
        {
            transform: rotate(180deg)
        }
    }
}

.header
{
    background: #03a9f4;
    padding: 0 10px;
    height: 25px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 100%;
    & > i:nth-child(1)
    {
        color: #505050;
        margin-right: 10px;
    }

    & > span
    {
        flex: 1;
    }

    & > i:last-child
    {
        cursor: pointer;
        right: 0;
        transition: .5s all;
        &:hover
        {
            transform: rotate(180deg)
        }
    }
}

.detail-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > .detail-chart
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 160px;
        position: relative;

        & > div:first-child
        {
            position: relative;
            margin-right: 10px;
            & > span
            {
                position: absolute;
                /*width: 100%;
                height: 100%;*/
                top:0;
                                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                font-weight: bold;
                color: #3c3c3c;
                            /*E91E63*/
            }
        }

        & > div:nth-child(2)
        {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;

            & > div:nth-child(2)
            {
                // flex: 1;
            }
        }
    }

    & > div:nth-child(2)
    {
        margin-top: 10px;
    }

    & > div > [class*=ant-layout]
    {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.header-border
{
    background-color: #607D8B;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 13px;

    & > i:nth-child(1)
    {
        color: #FFF;
        margin-right: 10px;
    }
}

.box-shadow
{
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
}

.text-descrition
{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.75);

    & > div 
    {
        & > span:first-child
        {
            font-size: 22px;
            color:#009688;
            font-weight: bold;
        }

        & > span:nth-child(2)
        {
        }
    }

    & > span
    {
        // margin-top: 5px;
    }
}

.div-center
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-point
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.align-right
{
    vertical-align: middle;
    text-align: right !important;
}

.align-center
{
    vertical-align: middle;
    text-align: center !important;
}

.align-left
{
    vertical-align: middle;
    text-align: left !important;
}
.align-right-hightlight{
    vertical-align: middle;
    text-align: right !important;
    background-color: #dcdcdc !important;
}

.hight-light
{
    background-color: #dcdcdc !important;
}

.color-point
{
    width:10px; 
    height:10px; 
    border-radius: 50%; 
    margin: 0 5px;
}

.red-font
{
    color: #F44336;
}

.header-hide
{
    padding: 0 !important;
}

.div-center
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.align-right
{
    text-align: right !important;
}

.align-left
{
    text-align: left !important;
}

.vertical-bottom
{
    vertical-align: bottom !important;
}

.vertical-middle
{
    vertical-align: middle;
}

.summary-table-not-odd
{
    // margin-bottom: 10px;

    &  table tbody tr
    {
        cursor: pointer;
    }

    & > div > div > div
    {
        border-radius: 0px;
    }

    & table
    {
        border-radius: 0 0 0 0;
        border: 1px solid #b1b1b1 !important;
    }

    & thead > tr > th {
        border-right: 1px solid #b1b1b1 !important;
        border-bottom: 1px solid #b1b1b1 !important;
        background-color: #dcdcdc !important;
    }

    & table tbody tr > [class*=sm-padding]
    {
        padding: 3px 3px !important;
    }

    & thead > tr > th:last-child {
        border-right: 0px solid transparent !important;
    }

    & tbody > tr > td {
        border-right: 1px solid #b1b1b1 !important;
        border-bottom: 1px solid #b1b1b1;
    }

    & tbody > tr > td:last-child {
        border-right: 0px solid transparent !important;
    }

    & table tbody tr:last-child td
    {
        border-bottom: 1px solid transparent;
    }
    
    & table thead tr > [class*=header-hide]
    {
        border-top: 0px !important;
        border-bottom: 0px !important;
    }
}

.summary-table
{
    margin-bottom: 0px;

    &  table tbody tr
    {
        cursor: pointer;
    }

    & > div > div > div
    {
        border-radius: 0px;
    }

    & table
    {
        border-radius: 0 0 0 0;
        border: 1px solid #b1b1b1 !important;
    }

    & thead > tr > th {
        border-right: 1px solid #b1b1b1 !important;
        border-bottom: 1px solid #b1b1b1 !important;
        background-color: #dcdcdc;
    }

    & thead > tr > th:last-child {
        border-right: 0px solid transparent !important;
    }

    & tbody > tr > td {
        border-right: 1px solid #b1b1b1 !important;
        border-bottom: 1px solid #b1b1b1;
    }

    & tbody > tr > td:last-child {
        border-right: 0px solid transparent !important;
    }

    & table tbody tr:last-child td
    {
        border-bottom: 1px solid transparent;
    }

    & table tbody tr > [class*=sm-padding]
    {
        padding: 3px 3px !important;
    }
    
    & table thead tr > [class*=header-hide]
    {
        border-top: 0px !important;
        border-bottom: 0px !important;
    }

    & table tbody tr:nth-child(odd)
    {
        background: #FFF;
    }

    & table tbody tr:nth-child(even)
    {
        background: #FFF;
    }
}

.sm-padding
    {
        padding: 3px 3px !important;
    }

/*------------------------------ New Style*/
.overlayView
{
    background: transparent;
    width: 300px;
    height: 300px;
    padding: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-menu
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-marker
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: transparent;
    cursor: pointer;
	transition: all .3s ease 0.3s;

    &:hover
    {
        transform: scale(1.1);
    }
}

.menu-close-button
{
    display: flex;
    width: 0px;
    height: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: transparent;
    margin-top: 15px;
    cursor: pointer;
	transition: all .3s;

    &:hover
    {
        transform: scale(1.1);
    }
}


.cn-button-open{
    z-index: 11; 
    cursor: pointer;
}

.cn-button {
    display: none;
}

.cn-wrapper {
    margin: auto;
    position: absolute;
    top: 25px; 
    left: 0; 
    bottom: 0; 
    right: 0;
    
    z-index: 10;
	width: 19em;
	height: 19em;
	border-radius: 50%;
	background: transparent;
	opacity: 0;
	transition: all .5s ease 0.3s;
	transform: scale(0.1) translateZ(0);
    backface-visibility: hidden;
	pointer-events: none;
    overflow: hidden;

    &:after{
        content:".";
        display:block;
        font-size:2em;
        width:6.2em;
        height:6.2em;
        position: absolute;
        left: 50%;
        margin-left: -3.1em;
        top:50%;
        margin-top: -3.1em;
        border-radius: 50%;
        z-index:10;
        color: transparent;
    }
}

.cn-button:checked+.cn-button-open .menu-close-button
{
    width: 35px;
    height: 35px;
    border: 5px solid #000000;
    font-size: 1.8em;
    background-color: #fff;
    color: #464646;
}

.cn-button:checked+.cn-button-open img
{
    display: none;
}

.cn-button:checked~.cn-wrapper
{
	border-radius: 50%;
	opacity: 1;
	transition: all .3s ease;
	transform: scale(1);
	pointer-events: auto;
}

.cn-wrapper li {
	position: absolute;
	top: -18%;
	left: 50%;
	overflow: hidden;
	margin-top: -1.3em;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 1.5em;
	transition: all .3s ease;
	transform: rotate(76deg) skew(60deg);
	transform-origin: 100% 100%;
    pointer-events: none;

    &:after
    {
        content: '';
        width: 101px;
        height: 105px;
        position: absolute;
        top: 70px;
        left: 62px;
        background-color: #000;
        border-radius: 100%;
        transform: skew(-61deg);
    }
}

.cn-wrapper li label {
	position: absolute;
	right: -7.25em;
	bottom: -7.25em;
	display: block;
	width: 14.5em;
	height: 14.5em;
	border-radius: 50%;
	background: #429a67;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 2;
	transform: skew(-60deg) rotate(-75deg) scale(.7) translateZ(0);
    backface-visibility: hidden;
    zoom: 101%;
    pointer-events: auto;
    cursor: pointer;
}

.cn-wrapper li label span {
	position: relative;
	top: .3em;
	display: block;
	font-size: 1.2em;
	font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.cn-wrapper li:first-child label {
    background: radial-gradient(transparent 25%, #009688 26%);
    &:hover
    {
        background: radial-gradient(transparent 25%, #FFF 26%);
        & span
        {
            color: #009688;
        }
    }
}

.cn-wrapper li:nth-child(2) label  {
    background: radial-gradient(transparent 25%, #FF9800 26%);
    &:hover
    {
        background: radial-gradient(transparent 25%, #FFF 26%);
        & span
        {
            color: #FF9800;
        }
    }
}

.cn-wrapper li:nth-child(3) label {
    background: radial-gradient(transparent 25%, #03A9F4 26%);
    &:hover
    {
        background: radial-gradient(transparent 25%, #FFF 26%);
        & span
        {
            color: #03A9F4;
        }
    }
}

.cn-wrapper li:nth-child(4) label  {
    background: radial-gradient(transparent 25%, #E91E63 26%);
    &:hover
    {
        background: radial-gradient(transparent 25%, #FFF 26%);
        & span
        {
            color: #E91E63;
        }
    }
}

.cn-wrapper li:nth-child(5) label  {
    background: radial-gradient(transparent 25%, #64a717 26%);
    &:hover
    {
        background: radial-gradient(transparent 25%, #FFF 26%);
        & span
        {
            color: #64a717;
        }
    }
}

.cn-wrapper li label:hover,
.cn-wrapper li label:active,
.cn-wrapper li label:focus {
    background: radial-gradient(transparent 20%, #000 20%);
    & span
    {
        color:#FFF;
    }
}
.cn-wrapper li label:focus {
    position: fixed; 
}

.cn-button:checked~.cn-wrapper li {
	transition: all .3s ease .3s;
}

.cn-button:checked~.cn-wrapper li:first-child {
	transform: rotate(-1deg) skew(60deg);
}

.cn-button:checked~.cn-wrapper  li:nth-child(2) {
	transform: rotate(36deg) skew(60deg);
}

.cn-button:checked~.cn-wrapper li:nth-child(3) {
	transform: rotate(74deg) skew(60deg);
}

.cn-button:checked~.cn-wrapper li:nth-child(4) {
	transform: rotate(111deg) skew(60deg);
}

.cn-button:checked~.cn-wrapper li:nth-child(5) {
	transform: rotate(147deg) skew(60deg);
}

.ca-marker-img-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ca-marker-img
{
    // position: absolute;
    // top: .47em;
    width: 40px;
    height: 40px;
    border: 3px solid #FFF;
    // border: 3px solid #002255;
    border-radius: 50%;
    margin-right: -15px;
    cursor: pointer;
}

.note-icon
{
    position: absolute;
    right: 0;
    cursor: pointer;
    & span:first-child
    {
        color: #03a9f4 !important;
    }
}

.modal-note-header
{
    display: flex;
    flex-direction: row;
    align-items: center;

    & i:first-child
    {
        margin-right: 10px;
        font-size: 20px;
        color:#03a9f4;
    }
    & span:first-child
    {
        margin-right: 10px;
        font-size: 14px;
        color:#03a9f4;
    }
}

.note-container
{
    display: flex;
    flex-direction: row;
    margin-top: 7px;

    & > span:first-child
    {
        color: red;
        margin-right: 7px;
        width: 45px;
    }

    & > span:nth-child(2)
    {
        width: 100%;
    }
}

.icon-edit-note-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.modal-note-container
{
    display:  flex;
    flex-direction: column;
    justify-content: center;

    & > div:first-child
    {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}

