.logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border: 4px solid #FFF;
    border-radius: 50%;
    background: #043ba3;

    & > img
    {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-left: 3px;
        transform: rotate(180deg)
    }
}

.toolbar-profile-header
{
    & > div:last-child
    {
        margin-right: 16px;
    }

    & > div
    {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        min-width: 40px;
        padding: 0 10px;
    }

    & > div:hover
    {
        background: #eee;
    }
}