html{
    height: 100%;
}

body
{
    height: 100%;
    min-height: 100%;
    font-family: 'Kanit' ,sans-serif !important;
}

[id="app"]
{
    height: 100%;
}

.ant-select-dropdown-menu-item-group-title
{
            color: rgba(0, 0, 0, 0.64);
        font-weight: bold;
}

.ant-radio-button-wrapper-checked.woman {
    background: #fff;
    border-color: #ff3f97;
    color: #ff3f97;
    box-shadow: -1px 0 0 0 #ff3f97;
}

.ant-radio-button-wrapper-focused, .ant-radio-button-wrapper.man:hover {
    color: #ff3f97;
    position: relative;
}

.ant-radio-button-wrapper-checked.man {
    background: #fff;
    border-color: #108ee9;
    color: #108ee9;
    box-shadow: -1px 0 0 0 #108ee9;
}

.ant-radio-button-wrapper-focused, .ant-radio-button-wrapper.man:hover {
    color: #108ee9;
    position: relative;
}

.gm-style-iw {
    font-family: 'Kanit' ,sans-serif !important;
   /*width: 350px !important;*/
   top: 15px !important; 
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   /*border-radius: 2px 2px 0 0;*/
   border-radius: 5px;
   opacity: 0;
}

.gm-style-iw > div:nth-child(2)
{
    display: none !important;
}

.gm-style-iw > div , .gm-style-iw > div > div
{
    display: flex !important;
    width: 100%;
    max-width: 100% !important;
    max-height: 100% !important;
}

