$set-none: 0px !important;
$set-normal: 1px !important;
$set-brd-normal: 1px solid !important;

$transparent: transparent !important;
$black: #000000 !important;
$white: #ffffff !important;
$lemon: #e6f183 !important;
$lime: #a4c400 !important;
$green: #60a917 !important;
$emerald: #008a00 !important;
$teal: #00aba9 !important;
$cyan: #1ba1e2 !important;
$cobalt: #0050ef !important;
$indigo: #6a00ff !important;
$violet: #aa00ff !important;
$pink: #dc4fad !important;
$magenta: #d80073 !important;
$crimson: #a20025 !important;
$red: #e51400 !important;
$orange: #fa6800 !important;
$amber: #f0a30a !important;
$yellow: #e3c800 !important;
$brown: #825a2c !important;
$olive: #6d8764 !important;
$steel: #647687 !important;
$mauve: #76608a !important;
$taupe: #87794e !important;
$gray: #555555 !important;
$dark: #333333 !important;
$darker: #222222 !important;
$darkBrown: #63362f !important;
$darkCrimson: #640024 !important;
$darkMagenta: #81003c !important;
$darkIndigo: #4b0096 !important;
$darkCyan: #1b6eae !important;
$darkGray: darkgray;
$darkCobalt: #00356a !important;
$darkTeal: #004050 !important;
$darkEmerald: #003e00 !important;
$darkGreen: #128023 !important;
$darkOrange: #bf5a15 !important;
$darkRed: #9a1616 !important;
$darkPink: #9a165a !important;
$darkViolet: #57169a !important;
$darkBlue: #16499a !important;
$lightBlue: #4390df !important;
$lightRed: #ff2d19 !important;
$lightGreen: #7ad61d !important;
$lighterBlue: #00ccff !important;
$lightTeal: #45fffd !important;
$lightOlive: #78aa1c !important;
$lightOrange: #c29008 !important;
$lightPink: #f472d0 !important;
$grayDark: #333333 !important;
$grayDarker: #222222 !important;
$grayLight: #999999 !important;
$grayLighter: #eeeeee !important;
$blue: #00aff0 !important;
$thinLightBlue: #69b3ef !important;
$thinTeal: #559613 !important;
$redSoft: #DA534F !important;
$blackSoft: #3b4254 !important;

$yellow_g1: #f3d025 !important;
$gray_g1: #a0a0a0 !important;
$orange_g1: #ff9900 !important;